<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAzB4f8MftAHmoqcUIh6tg4p4pqiwfkb0</string>
	<key>GCM_SENDER_ID</key>
	<string>942508686264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dynamite.missioncontrol100</string>
	<key>PROJECT_ID</key>
	<string>dynamite-lifestyle</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamite-lifestyle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942508686264:ios:76cd1030ba2684db65ad4d</string>
	<key>DATABASE_URL</key>
	<string>https://dynamite-lifestyle.firebaseio.com</string>
</dict>
</plist>